
.head{
    border: 1px solid;
    max-width: 600px;
    margin: 5px auto;
    padding: 10px;
    border-radius: 4px;
}
.search-btn{
    display: flex;
    justify-content: flex-end;
}

 h1{
    text-align: right;
    font-size: 22px;
    line-height: 26px;
    font-family: Google Sans,arial,sans-serif;
    font-weight: 400;
    color: #202124;
}

.city-info{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.city-info div {
    text-align: right;
    color: #70757a;
    font-size: 16px;
    line-height: 30px;
    font-family: arial,sans-serif;
}

.weather-info{
    display: flex;
    align-items: center;
}

.weather-info p{
    display: inline;
    font-family: Google Sans,arial,sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #202124;
    margin-top: 20px;
    margin-left: 5px;
}

ul{
    text-decoration: none;
    color: #70757a;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding-left: 9px;
    padding-top: 6px;
}

li{
    list-style-type: none;
    line-height: 19px;
}

.unit{
display: flex;
align-self: start;
font-size: 16px;
line-height: 30px;
margin-top: 15px;
padding-left: 6px;
}


