.forecast{
    display: flex;
    justify-content:space-between;
}

.forecast-temp{
    text-align: center;
}

.forecast-icon{
    text-align: center;
    margin-top: 21px;
}



.forecast-min-temp{
    opacity: 0.6;
    font-size: 16px;
    line-height: 15px;
}

.forecast-max-temp{
    font-size: 16px;
    line-height: 15px;
}



.week-day{
    color: rgb(59, 58, 58);
    line-height: 15px;
    padding-top: 7px;
    text-align: center;
}

